RewriteEngine On
RewriteBase /

# 404 sayfasına 302 ile yönlendirme (bulunmayan dosya/dizin)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /404.html [R=301,L]

# /football-planet/ dizinine isek anasayfa.html'ye yönlendir
RewriteCond %{REQUEST_URI} ^/football-planet/?$
RewriteRule ^$ /anasayfa.html [R=301,L]

